poster.svg
*.pdf
evaluacion.md
poster_lugar.svg
clases/Julia_Clase1_Intro_a_julia.ipynb
clases/.ipynb_checkpoints/
confirmaciones.md
evaluacion.tex
evaluacion_tex.tex
"F\303\255sica Computacional 8385_Actualizado.xls"
evaluacion.log
evaluacion_tex.aux
evaluacion_tex.log
evaluacion_tex.out
texput.log
"F\303\255sica Computacional 8385_Actualizado.xls"
Fisica_Lista.xls
libros/[Joe_D._Hoffman]_Numerical_methods_for_engineers_a(b-ok.org).djvu
libros
